.passform__strength-fields {
    display: flex;
    justify-content: center;
    min-width: 250px;
    margin-left: -11%;
}

.pass-strength-field {
    background-color: lightgray;
    border-radius: 10px;
    width: 100px;
    height: 10px;
}

.pass-strong {
    background-color: lightgreen;
}

.pass-medium:not(:last-child){
    background-color: orange;
}

.pass-short {
    background-color: red;
}

.pass-weak:first-child {
    background-color: red;
}

.pass-form {
    margin: 0 auto;
    width: 270px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.password-input {
    display: flex;
    gap: 10px;

    & input {
        padding: 10px;
        width: 300px;
        box-shadow: 0 0 4px 4px rgba(0, 0, 0, .08);
        border: none;
        border-radius: 10px;
    }
}

.icon {
    min-width: 25px;
}

.show-icon {
background-image: url(../../assets/img/show.png);
background-repeat: no-repeat;
background-position: center;

}

.hide-icon {
background-image: url(../../assets/img/hide.png);
background-repeat: no-repeat;
background-position: center;
}