<div class="pass-form__container">
    <form class="pass-form" [formGroup]="passForm">
        <div class="password-input">
            <input [type]="passwordState.passVisible ? 'text' : 'password' "  formControlName="password" (input)="setPassword($event)" />
            <div *ngIf="!passwordState.passVisible; else hideIcon" class="icon show-icon" (click)="togglePassVisibility()"></div>
            <ng-template #hideIcon>
                <div class="icon hide-icon" (click)="togglePassVisibility()"></div>
            </ng-template>
        </div>

        <div class="passform__strength-fields">
            <div class="pass-strength-field {{getFieldClass()}}"></div>
            <div class="pass-strength-field {{getFieldClass()}}"></div>
            <div class="pass-strength-field {{getFieldClass()}}"></div>
        </div>
    </form>    
</div>

